<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.demo01.mapper.OperationLogMapper">
    <insert id="insert" parameterType="com.study.demo01.entity.OperationLog" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO operation_log (method, path, ip, params, result, execution_time, create_time)
        VALUES (#{method}, #{path}, #{ip}, #{params}, #{result}, #{executionTime}, #{createTime})
    </insert>
</mapper>